@inject HttpClient _httpClient;
@RenderMode.InteractiveWebAssembly

<ul class="list-unstyled">

    @foreach (var item in Products)
    {
        <li class="media my-3">

            <div class="image-img-wrapper ">
                <a href="#">
                    <img class="media-img" src="@item.ImageUrl" alt="@item.Title" />
                </a>
            </div>


            <div class="media-body">
                <a href="#">
                    <h4 class="mb-0">@item.Title</h4>
                </a>
                <p>@item.Description</p>
                <h5 class="price">$@item.Price</h5>
            </div>

        </li>
    }

</ul>
@code {

    private static List<Product> Products = new List<Product>() { };

    protected override async Task OnInitializedAsync()
    {
        
        var result = await _httpClient.GetFromJsonAsync<List<Product>>("http://localhost:5063/api/Product");
        if (result != null)
            Products =   result; 

        
    }


    
  

}
